@import 'variables.scss';

.button {
  padding: 10px 25px;
  margin: 6px;
  border-radius: $button-radius;
  cursor: pointer;
  border: 2px solid transparent;

  &.normal {
    background-color: rgba( $dark-highlight, .1 );
    border-color: $dark-highlight;
    color: $dark-highlight;

    &:hover {
      background-color: $dark-highlight;
      color: $light-highlight;
    }
  }

  &.dark {
    background-color: $dark-highlight;
    border-color: $dark-highlight;
    color: $light-highlight;

    &:hover {
      background-color: rgba( $dark-highlight, .1 );
      color: $dark-highlight;
    }
  }

  &.success {
    background-color: rgba( $success-color, .1 );
    border-color: $success-color;
    color: $success-color;
  }

  &.warn {
    background-color: rgba( $warn-color, .1 );
    border-color: $warn-color;
    color: $warn-color;
  }

  &.error {
    background-color: rgba( $error-color, .1 );
    border-color: $error-color;
    color: $error-color;
  }
}
