.text-wrapper{
    border: 1px solid darkgrey;
    padding: 25px 0 10px 0;
    width: 450px;
    height: 200px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
	align-content: stretch;
}
