textarea{
    width: 300px;
    height: 200px;
    
    &.textpost{
        border: 1px solid darkgrey;
        &:focus{
            border-color: black;
        }
        :placeholder{
            color: lightgrey;
        } 
    }
}

