@import 'variables.scss';

.textInput{
  font-size: large;

  label{
    display: block;
  }

  input[type='text'] {
    padding: 8px;
    border: 2px solid $dark-highlight;
    border-radius: $button-radius;
    font-size: large;
  }
}
