@import 'variables.scss';

.textInput{
  font-size: large;

  input[type='text'] {
    padding: 10px;
    border: 2px solid $dark-highlight;
    border-radius: $button-radius;
    font-size: large;
  }
}
