@import 'variables.scss';

.textInput{
  display: block;

  input[type='text'] {
    padding: 20px;
    border: 2px solid $dark-highlight;
    border-radius: $button-radius;
    font-size: large;
  }
}
