// Size variables
$content-width: 99%;
$breakpoint: 799px;
$nav-height: 70px;
$button-radius: 16px;

// Color variables
$dark-highlight: #262626;
$light-highlight: #ffffff;
$link-hover-color: #353535;
$warn-color: #ffbb00;
$success-color: #00b000;
$error-color: #f00000;
